@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
@import "../variable";
@import "../templates";

html {
	font-family: "Poppins", sans-serif;
}

#co {
	@extend %formulaire;
}

.header {
	@extend %header;
}

.snackbar {
	@extend %snackbar;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 0.25fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 0;
	grid-row-gap: 0;
	margin-left: 30px;

	.identite {
		font-size: 1.5em;
		margin-top: 5em;
		font-family: $font2;
		grid-area: 1 / 1 / 2 / 3;
	}

	.container-onglets {
		grid-area: 2/1/6/2;
		display: flex;
		gap: 3rem;
		flex-direction: column;
		justify-content: center;

		.onglets {
			font-size: 1.2em;
			font-family: sans-serif;
			color: rgb(158, 158, 158);
			letter-spacing: 2px;
			cursor: pointer;
			position: relative;

			.badge {
				display: none;
				font-size: 10px;
				position: absolute;
				top: -10px;
				right: 110px;
				padding: 5px 5px;
				border-radius: 50%;
				background: red;
				color: white;
			}

			/* Anim */
			&.active {
				font-weight: 500;
				color: rgb(0, 0, 0);
				transition: all 0.3s ease;
			}

			i {
				display: inline-block;
				color: black;
				border-radius: 25px;
				padding: 10px;
			}

			.fa-calendar-days {
				background-color: #cbabfe;
			}

			.fa-comment {
				background-color: rgb(255, 172, 127);
				border-radius: 25px;
				padding: 10px;
			}

			.fa-user-pen {
				background-color: #87b4f1;
			}
		}

		.suppression {
			width: 500px;
			font-size: 1.2em;
			font-weight: 500;
			cursor: pointer;

			i {

				background-color: rgb(255, 88, 88);
				display: inline-block;
				color: black;
				border-radius: 25px;
				padding: 10px;
			}

			input {
				background-color: transparent;
				border: transparent;
				color: black;
				font-family: sans-serif;
				font-weight: 500;
				font-size: 1.1em;
				letter-spacing: 2px;
				text-decoration: none;
			}
		}

		.deconnexion {
			width: 500px;
			margin-top: 8rem;
			font-size: 1.2em;
			font-weight: 500;
			cursor: pointer;

			i {
				background-color: rgb(140, 237, 190);
				border-radius: 25px;
				padding: 10px;
			}

			input {
				background-color: transparent;
				border: transparent;
				color: black;
				font-family: sans-serif;
				font-weight: 500;
				font-size: 1.1em;
				letter-spacing: 2px;
				text-decoration: none;
			}
		}
	}

	.container-body {
		grid-area: 2 / 2 / 6 / 3;
		display: flex;
		justify-content: center;
		align-items: center;

		.illus {
			position: relative;
			bottom: 80px;

			img {
				height: 380px;
				width: 530px;
			}

			p {
				font-size: 1.3em;
				font-family: sans-serif;
				letter-spacing: 2px;
				font-weight: 500;
				color: #38547b;
				position: absolute;
				top: 13px;
				left: 120px;
			}
		}

		.contenu {
			display: none;
			flex-direction: column;
			align-items: center;
			align-self: flex-start;
			opacity: 0;

			>div {
				flex-wrap: wrap;
				justify-content: center;
				gap: 58px;
				overflow-y: auto;
				height: 450px;

				.sixieme {
					margin-bottom: 50px;

					article {
						display: flex;
						flex-direction: column;
						flex-wrap: nowrap;
						width: 400px;
						height: 450px;
						border-radius: 12px;
						background-color: rgb(233, 233, 233);

						>div:nth-child(1) {
							border-bottom: 1px solid rgb(186, 186, 186);

							.fleche {
								background-color: transparent;
								border: none;
								position: relative;
								top: 28px;
								left: 20px;

								.fa-arrow-left {
									font-size: 1.8em;
									cursor: pointer;
								}
							}

							h3 {
								font-size: 1.8em;
								font-family: $font2;
								text-align: center;
								margin-bottom: 15px;
							}
						}

						>div:nth-child(2) {
							overflow-y: auto;
							display: flex;
							flex-direction: column;
							align-items: flex-end;

							.desti1 {
								float: left;
								margin-left: 20px;

								h4 {
									font-size: 1.2em;
									font-family: $font2;
									margin-bottom: 5px;
								}

								p {
									min-width: 200px;
									max-width: 200px;
									min-height: 30px;
									border-top-right-radius: 6px;
									border-bottom-right-radius: 6px;
									border-bottom-left-radius: 6px;
									background-color: white;
									font-family: $font2;
									font-size: 1.1em;
									padding: 5px;
								}
							}

							.desti2 {
								position: relative;
								float: right;
								margin-right: 20px;

								h4 {
									font-size: 1.2em;
									font-family: $font2;
									margin-bottom: 5px;
									text-align: right;
								}

								p {
									min-width: 200px;
									max-width: 200px;
									min-height: 30px;
									border-top-left-radius: 6px;
									border-bottom-right-radius: 6px;
									border-bottom-left-radius: 6px;
									background-color: $color;
									color: white;
									font-family: $font2;
									font-size: 1.1em;
									padding: 5px;
								}
							}
						}

						.envoie {
							display: flex;
							margin-top: auto;
							width: 100%;

							label {
								&:hover {
									background-color: rgb(216, 216, 216);
									cursor: pointer;
								}
							}

							textarea {
								resize: none;
								width: 100%;
								min-height: 30px;
								border-bottom-left-radius: 6px;
								font-family: $font2;
								font-size: 1.2em;
							}

							button {
								display: inline;
								width: 50px;
								background-color: $color;
								color: white;
								font-size: 1.3em;
								border: none;
								border-bottom-right-radius: 6px;
								cursor: pointer;
							}
						}
					}
				}
			}
		}

		.active-contenu {
			display: flex;
			animation: fade 0.5s forwards;
		}

		@keyframes fade {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}

		h3 {
			font-size: 2em;
			font-family: $font3;
			font-weight: 500;
			padding: 20px;
		}

		p {
			padding: 20px 20px 20px 0;
		}

		.rdv {
			grid-area: 2 / 1 / 3 / 2;

			.recap {
				height: 140px;

				h4 {
					font-family: "Yantramanav";
					font-size: 1.8em;
					margin-left: -55px;
				}

				.recap_entier {
					background-color: #dde1e8;
					padding: 17px;
					margin-top: 25px;
					margin-bottom: 30px;
					border-radius: 15px;

					h4 {
						font-size: 1.3em;
						font-weight: bold;
						margin-left: 0;
					}

					p {
						margin-bottom: 25px;
						padding: 0 0 0 0;
					}

					.client {
						margin-top: 10px;
						display: flex;
						justify-content: space-evenly;
						align-items: center;

						h4 {
							border-right: 1px solid;
							padding-right: 58px;
							font-family: "Yantramanav";
							font-weight: normal;
						}

						p {
							margin-bottom: 0;
							padding: 0 0 0 0;
						}
					}
				}
			}

			.horaire {
				height: 400px;
				margin-bottom: 65px;
				border-bottom: 1px solid;

				h4 {
					font-family: "Yantramanav";
					font-size: 1.8em;
				}

				form {
					width: 70vh;
					margin-top: 20px;

					input[type=checkbox] {
						background-color: #60b1cc;
						font-size: 1.4em;
						color: #fcfcfc;
						font-weight: bold;
						border: none;
						border-radius: 10px;
						padding: 18px;
						margin-bottom: 15px;
						margin-right: 10px;
						cursor: pointer;

						&:hover {
							background-color: #5399b0;
						}
					}
				}

				#valider {
					font-size: 1.4em;
					background-color: black;
					color: white;
					padding: 7px;
					margin-left: 103px;
					margin-top: 26px;
					cursor: pointer;
					display: block;

					&:hover {
						background-color: rgb(53, 53, 53);
					}
				}
			}

			.liste {
				font-family: $font2;
			}

			p {
				font-family: $font2;
				margin-bottom: 40px;

				span {
					display: inline-block;
				}

				.entreprise {
					background-color: $color;
					font-size: 1.5em;
					padding: 12px;
					border-top-left-radius: 12px;
					border-top-right-radius: 12px;
					color: white;
				}

				.client {
					width: 100%;
					box-sizing: border-box;
					background-color: rgb(242, 242, 242);
					font-size: 1.2em;
					padding: 12px;
					padding-right: 23px;
					padding-bottom: 30px;
					border-bottom-left-radius: 12px;
					border-bottom-right-radius: 12px;
					color: rgb(0, 0, 0);
				}
			}

			#autize_button {
				background-color: #7EC89C;
				font-size: 1.2em;
				color: #ffffff;
				padding: 9px 18px 9px 18px;
				border: none;
				border-radius: 7px;
				transition: 500ms;

				&:hover {
					background-color: #649A8D;
				}
			}

		}

		.com {
			grid-area: 3 / 1 / 4 / 2;
		}

		.prl {
			grid-area: 4 / 1 / 5 / 2;

			form {
				display: grid;

				input[type=file] {
					margin-bottom: 20px;
					display: block;
				}

				.borde {
					li {
						label {
							font-family: $font2;
							font-size: 1.2em;
						}
					}
				}

				p {
					display: inline-block;
					font-size: 1.4em;
					font-weight: bold;
					font-family: $font2;
					margin-top: 10px;
					border-top: 2px rgb(164, 164, 164) solid;
				}

				ul {
					#Poppins+label {
						font-family: "Poppins";
					}

					#Nothing+label {
						font-family: "Nothing You Could Do";
					}

					#Bebas+label {
						font-family: "Bebas Neue";
					}

					#Shadows+label {
						font-family: "Shadows Into Light";
					}
				}

				.reseaux {
					div {
						display: block;

						i {
							display: inline;
						}

						input {
							margin-bottom: 20px;
						}
					}
				}

				.publier {
					display: flex;
					justify-content: center;

					button {
						font-size: 1.4em;
						border-radius: 25px;
						margin-top: 20px;
						border: none;
						padding: 15px;
						cursor: pointer;
						transition: 300ms;

						&:hover {
							background-color: rgb(194, 194, 194);
						}
					}

				}
			}
		}
	}
}

/* media queries tablet */
@media (max-width:1000px) {

	.identite,
	.onglets>span,
	input[name="deconnexion"],
	input[name="suppression"] {
		display: none;
	}

	.container {
		gap: 2rem;
		margin: 10px;
		height: calc(100vh - 20px);
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr;

		.container-onglets {
			margin-top: 110px;
			gap: 4em;
			grid-area: 1 / 1 / 2 / 2;
			flex-direction: row;

			.onglets {
				z-index: 3;

				.badge {
					right: 0;
				}
			}

			.suppression {
				width: 100%;
				font-size: 1.2em;
				font-weight: 500;
				cursor: pointer;

				input {
					background-color: transparent;
					border: transparent;
					color: black;
					font-family: sans-serif;
					font-weight: 500;
					font-size: 1.1em;
					letter-spacing: 2px;
					text-decoration: none;
				}
			}

			.deconnexion {
				width: auto;
				margin-top: 0;
				z-index: 3;
			}
		}

		.container-body {
			grid-area: 2 / 1 / 3 / 2;
			overflow-y: auto;

			.illus {
				position: relative;
				bottom: 80px;

				img {
					height: 390px;
					width: 580px;
				}

				p {
					font-size: 1.3em;
					left: 140px;
				}
			}

		}
	}
}

/* media queries mobile */
@media (max-width: 610px) {

	.identite,
	.onglets>span,
	input[name="deconnexion"] {
		display: none;
	}

	.container {
		gap: 2rem;
		margin: 10px;
		height: calc(100vh - 20px);
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr;

		.container-onglets {
			margin-top: 110px;
			gap: 8%;
			grid-area: 1 / 1 / 2 / 2;
			flex-direction: row;

			.onglets {
				z-index: 3;

				.badge {
					right: 0;
				}
			}

			.deconnexion {
				width: auto;
				margin-top: 0;
				z-index: 3;
			}
		}

		.container-body {
			grid-area: 2 / 1 / 3 / 2;
			overflow-y: auto;

			.illus {
				position: relative;
				bottom: 80px;

				img {
					height: 250px;
					width: 410px;
				}

				p {
					font-size: 1em;
					left: 80px;
				}
			}

			.rdv {
				grid-area: 2 / 1 / 3 / 2;

				.recap {
					height: 140px;

					h4 {
						font-family: "Yantramanav";
						font-size: 1.8em;
						margin-left: -55px;
					}

					.recap_entier {
						background-color: #dde1e8;
						padding: 14px;
						margin-top: 25px;
						margin-bottom: 30px;
						border-radius: 15px;

						h4 {
							font-size: 1.3em;
							font-weight: bold;
							margin-left: 0;
						}

						p {
							margin-bottom: 25px;
							padding: 0 0 0 0;
						}

						.client {
							margin-top: 10px;
							display: flex;
							justify-content: space-evenly;
							align-items: center;

							h4 {
								border-right: 1px solid;
								padding-right: 58px;
							}

							p {
								margin-bottom: 0;
								padding: 0 0 0 0;
							}
						}
					}
				}

				.horaire {
					height: 400px;

					h4 {
						font-family: "Yantramanav";
						font-size: 1.8em;
					}

					form {
						width: 70vh;
						margin-top: 20px;

						button {
							background-color: #60b1cc;
							font-size: 1.1em;
							color: #fcfcfc;
							font-weight: bold;
							border: none;
							border-radius: 10px;
							padding: 10px;
							margin-bottom: 15px;
							margin-right: 10px;
							cursor: pointer;

							&:hover {
								background-color: #5399b0;
							}
						}
					}
				}
			}
		}
	}
}