@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
.header {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  width: 91%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  /* BURGER */
  /* langues */
}
.header .logo img {
  height: 2rem;
  margin-left: -70px;
}
.header .navbar__link {
  display: flex;
  margin-left: 80px;
}
.header .navbar a {
  position: relative;
  margin: 0.9rem;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.header .navbar a:before {
  content: "";
  width: 0;
  transition: width 0.45s linear;
}
.header .navbar a:hover:before {
  color: var(--main-color);
  content: "";
  width: 100%;
  background-color: #7EC89C;
  height: 9px;
  bottom: 15%;
  left: 0;
  position: absolute;
  z-index: -1;
  text-align: center;
  margin-left: 1px;
}
.header .icons div {
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}
.header .icons div:hover {
  color: var(--main-color);
}
.header #menu-btn {
  display: none;
}
.header .icons {
  display: flex;
  align-items: center;
}
.header .icons > i {
  font-size: 2rem;
}
.header #lg {
  font-family: "Yantramanav";
  font-size: 1.3em;
  cursor: pointer;
}
.header #lg .deux {
  display: flex;
  justify-content: center;
}
.header #lg .deux li {
  position: absolute;
  list-style: none;
  display: none;
}
.header #lg .deux li a {
  text-decoration: none;
  color: black;
  font-family: "Yantramanav";
  font-size: 1em;
  position: relative;
}
.header #lg .deux li a::after {
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  position: absolute;
  content: "";
}
.header #lg .deux .anglais {
  margin-top: 25px;
}
.header #lg:hover li {
  display: block;
}
.header .logo2 {
  display: none;
}
.header .btn {
  background-color: transparent;
  padding: 1px 6px;
  color: black;
  display: block;
  border: transparent;
  font-size: 1.7em;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .header .navbar a {
    font-size: 1.2rem;
  }
  .header .navbar a:hover {
    color: var(--main-color);
    border-bottom: none;
  }
  .header .header {
    padding: 1.5rem 2rem;
  }
  .header .logo > img {
    display: none;
  }
  .header .logo2 {
    display: block;
    height: 3rem;
    text-align: center;
  }
  .header .navbar__link {
    display: flex;
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 670px) {
  .header #menu-btn {
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .header .navbar {
    display: none;
    position: absolute;
    top: 100%;
    right: -100%;
    background: rgb(255, 255, 255);
    height: calc(100vh - 4rem);
  }
  .header .navbar.active {
    display: block;
    left: -78px;
  }
  .header .navbar__link {
    display: block;
    text-align: left;
  }
  .header .navbar a {
    color: var(--black);
    display: inline-block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  font-size: 1.2em;
  font-family: "Yantramanav";
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}
.show.snackbar {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

html {
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 0.25fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 30px;
}
.container .identite {
  font-size: 1.5em;
  margin-top: 5em;
  font-family: "Yantramanav";
  grid-area: 1/1/2/3;
}
.container .container-onglets {
  grid-area: 2/1/6/2;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
}
.container .container-onglets .onglets {
  font-size: 1.2em;
  font-family: sans-serif;
  color: rgb(158, 158, 158);
  letter-spacing: 2px;
  cursor: pointer;
  /* Anim */
}
.container .container-onglets .onglets.active {
  font-weight: 500;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}
.container .container-onglets .onglets i {
  color: black;
  background-color: rgb(127, 174, 255);
  border-radius: 25px;
  padding: 10px;
}
.container .container-onglets .onglets .fa-comment {
  background-color: rgb(255, 172, 127);
  border-radius: 25px;
  padding: 10px;
}
.container .container-onglets .deconnexion {
  width: 500px;
  margin-top: 8rem;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
}
.container .container-onglets .deconnexion i {
  background-color: aquamarine;
  border-radius: 25px;
  padding: 10px;
}
.container .container-onglets .deconnexion input {
  background-color: transparent;
  border: transparent;
  color: black;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  letter-spacing: 2px;
  text-decoration: none;
}
.container .container-body {
  grid-area: 2/2/6/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .container-body .illus {
  position: relative;
  bottom: 80px;
}
.container .container-body .illus img {
  height: 380px;
  width: 530px;
}
.container .container-body .illus p {
  font-size: 1.3em;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  color: #38547b;
  top: 90px;
  position: absolute;
  top: 13px;
  left: 120px;
}
.container .container-body .contenu {
  display: none;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  opacity: 0;
}
.container .container-body .active-contenu {
  overflow-y: auto;
  height: 600px;
  display: flex;
  -webkit-animation: fade 0.5s forwards;
          animation: fade 0.5s forwards;
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container .container-body h3 {
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: 500;
  padding: 20px;
}
.container .container-body .cinquieme {
  min-width: 60vw;
  max-width: 35vw;
  margin: 5vh auto 20vh auto;
}
.container .container-body .cinquieme h2 {
  font-size: 2.5em;
  letter-spacing: 1.5px;
  border-bottom: 1px solid #649A8D;
  margin-bottom: 40px;
  font-family: "Nothing You Could Do";
  color: #7EC89C;
}
.container .container-body .cinquieme article {
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 5vh;
  padding-right: 5vh;
  width: 80vh;
  border-radius: 12px;
  background-color: rgb(233, 233, 233);
  margin-left: auto;
  margin-right: auto;
}
.container .container-body .cinquieme article h3 {
  font-size: 1.8em;
  font-family: "Yantramanav";
}
.container .container-body .cinquieme article .moyenne {
  margin-left: 7px;
  display: flex;
  align-items: baseline;
}
.container .container-body .cinquieme article .moyenne span {
  margin-left: -8px;
  margin-right: 10px;
  font-size: 1.5em;
  font-family: "Yantramanav";
}
.container .container-body .cinquieme article .moyenne ul {
  min-width: 230px;
  max-width: 230px;
  font-size: 1.3em;
}
.container .container-body .cinquieme article .moyenne ul li {
  margin-top: 25px;
  margin-bottom: 15px;
  display: inline-block;
}
.container .container-body .cinquieme article .moyenne ul li i {
  color: #F9B401;
  margin-right: 10px;
}
.container .container-body .cinquieme article .moyenne p {
  font-family: "Yantramanav";
  font-size: 1.5em;
}
.container .container-body .cinquieme article ul li {
  margin-top: 25px;
  margin-bottom: 15px;
  display: inline-block;
}
.container .container-body .cinquieme article ul li i {
  font-size: 1.3em;
  color: #F9B401;
  margin-right: 10px;
}
.container .container-body .cinquieme article .comment_d {
  width: auto;
  color: #ffffff;
  background-color: #475569;
  padding: 7px;
  float: right;
  position: relative;
  bottom: 55px;
}
.container .container-body .cinquieme article .comment_d:hover {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
.container .container-body .cinquieme article .comment_m {
  display: none;
}
.container .container-body .cinquieme article > div:nth-of-type(2) {
  height: 300px;
  overflow-y: auto;
}
.container .container-body .cinquieme article > div:nth-of-type(2) hr {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 480px;
}
.container .container-body .cinquieme article > div:nth-of-type(2) h4 {
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: 500;
}
.container .container-body .cinquieme article > div:nth-of-type(2) ul li {
  margin-top: 25px;
  margin-bottom: 15px;
  display: inline-block;
}
.container .container-body .cinquieme article > div:nth-of-type(2) ul li i {
  margin-right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}
.container .container-body .cinquieme article > div:nth-of-type(2) p {
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: lighter;
}
.container .container-body .cinquieme article > div:nth-of-type(2) .date {
  display: flex;
}
.container .container-body .cinquieme article > div:nth-of-type(2) .date span {
  display: block;
  color: #65676b;
  font-size: 1em;
  font-family: sans-serif;
}
.container .container-body .cinquieme article > div:nth-of-type(2) .date .mois {
  margin-right: 8px;
}
.container .container-body .cinquieme article > div:nth-of-type(2) img {
  margin-top: 25px;
  height: 250px;
}
.container .container-body .cinquieme article button {
  width: 87px;
  margin-top: 10px;
  margin-left: -6px;
  display: flex;
  background: transparent;
  border: unset;
  outline: 0;
  font-size: 18px;
  cursor: pointer;
  color: #65676b;
  display: block;
}
.container .container-body .cinquieme article .icon {
  display: inline-block;
}
.container .container-body p {
  padding: 20px 20px 20px 0;
}
.container .container-body .rdv {
  grid-area: 2/1/3/2;
}
.container .container-body .com {
  grid-area: 3/1/4/2;
}
.container .container-body .prl {
  grid-area: 4/1/5/2;
}
.container .container-body .prl form {
  display: grid;
}
.container .container-body .prl form input[type=file] {
  margin-bottom: 20px;
  display: block;
}
.container .container-body .prl form p {
  display: inline-block;
  font-size: 1.5em;
  font-family: "Yantramanav";
}
.container .container-body .prl form div {
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 10px;
}
.container .container-body .prl form div #case1 {
  background-color: rgb(0, 0, 0);
  padding: 7px 16px 7px 16px;
  border-radius: 50px;
}
.container .container-body .prl form div #case2 {
  background-color: rgb(0, 174, 255);
  padding: 7px 16px 7px 16px;
  border-radius: 50px;
}
.container .container-body .prl form div #case3 {
  background-color: rgb(110, 171, 102);
  padding: 7px 16px 7px 16px;
  border-radius: 50px;
}
.container .container-body .prl form .reseaux div {
  display: block;
}
.container .container-body .prl form .reseaux div i {
  display: inline;
}
.container .container-body .prl form .reseaux div input {
  margin-bottom: 20px;
}
.container .container-body .prl form .publier {
  display: flex;
  justify-content: center;
}
.container .container-body .prl form .publier button {
  font-size: 1.5em;
  border-radius: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: 300ms;
}
.container .container-body .prl form .publier button:hover {
  background-color: rgb(194, 194, 194);
}