@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import "../variable";
@import "../templates";


.header
{
    @extend %header;
}

// Pied de page général.
footer{
    @extend %footer;
}

#co
{
    @extend %formulaire;
}


.snackbar{
    @extend %snackbar;

}

/* BOUTON POUR REMONTER EN HAUT DE LA PAGE */
#remonter {
    display: none;
    position: fixed;
    width:37px;
    height: 37px;
    background-color: $color3;
    border-radius: 25px;
    bottom: 10px;
    right:12px;
    text-align: center;
    line-height: 42px;
    z-index: 2;


    i{
    color:white;
    font-size:20px;
    }

    .remonter:hover{
        background-color: $color2;
    }
}


#galerie{
    min-width: 85vw;
    max-width: 35vw;
    margin: 20vh auto 0 auto;

    h2{
        font-size: 2.5em;
        letter-spacing: 1.5px;
        border-bottom: 1px solid $color2;
        margin-bottom: 40px;
        font-family: $font3;
        color:$color3;
    }

  article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  .column {
    margin-right: 3%;
    img {
        width: 300px;
        margin-bottom: 30px;
    }
  }
}

//   fond lors du zoom
  .modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;

    .favorite {
      position: relative;
      min-width: 120px;
      max-width: 0vw;
      margin: 0vh auto 3vh auto;

      .enregister{
        border-radius: 25px;
        padding: 12px 16px 12px 16px;
        font-size: 1em;
        font-family: 'poppins';
        font-weight: bold;
        letter-spacing: 0.05cm;
        color: rgb(255, 255, 255);
        background-color: $color3;
        transition: 0.3s;
        cursor:pointer;

        &:hover{
          background-color: $color2;

        }

      }
    }
  }




  /* croix pour fermer */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 5em;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  /* position image zoom */
  .mySlides {
    display: none;

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 380px;
    }
  }

  /* boutons fleches avant apres */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }


  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 1.5em;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }

  img.demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

  img.hover-shadow {
    transition: 0.3s;
  }

  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.402), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}



@media (max-width:1000px){
	#galerie{
		margin: 20vh 15vh 0 15vh;

	}
}

@media (max-width:670px){
	#galerie{
		margin: 20vh 15vh 0 5vh;

		.parent {
			div
			{
				width: 50%;
			}
		}
	}
}