@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
@import "../variable";
@import "../templates";

:root {
	--main-color: #000000;
	--black: #000000;
	--bg: #ffffff;
	--border: .1rem solid rgba(255, 255, 255, .3);
}

/* BOUTON POUR REVENIR EN HAUT DE LA PAGE */
html {
	scroll-behavior: smooth;
}

body {
	>img {
		margin: 5vh auto 0 auto;
		width: 500px;
		display: block;
	}
}

.header {
	@extend %header;
}

// Pied de page général.
footer {
	@extend %footer;
}

#co {
	@extend %formulaire;
}

.sixieme {
	@extend %messagerie;
}

.snackbar {
	@extend %snackbar;

}

.deuxieme {
	gap: 3rem;
	display: flex;
	margin: 8vh 5vh 0 5vh;
	background: #ecf1f8;
	padding: 3rem;
	justify-content: space-around;

	input,
	button,
	textarea {
		font-family: "Open Sans", sans-serif;
		font-size: 14px;
	}

	/* Basis */

	.btn {
		font-family: "Open Sans";
		font-size: 1em;
		border: none;
		background: #fff;
		color: #262626;
		border-radius: 10px;
		height: 50px;
		font-weight: 600;
		padding: 0 20px;
		transition: 0.2s ease;
		cursor: pointer;
		outline: 0;
	}

	.btn:hover {
		color: #FFF;
		background: $color3;
	}

	.btn-small {
		min-width: 50px;
	}

	.btn-day {
		font-family: "Poppins";
		font-size: 0.9em;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		background: rgba(0, 0, 0, 0);
		width: 100%;
		height: 100%;
		cursor: pointer;
		z-index: 99;
		outline: 0;
		border-radius: 10px;
		transition: 0.4s all;
	}

	.btn-day.active {
		color: #FFF;
		font-weight: 600;
		z-index: 99;
	}

	.btn-day.active::before {
		position: absolute;
		content: "";
		width: 40px;
		height: 40px;
		background: $color3;
		border-radius: 10px;
		z-index: -1;
	}

	.text-field {
		padding: 10px;
		height: 50px;
		width: 200px;
		border: 1px solid #f0f0f0;
		border-radius: 10px;
		margin: 0 10px 0 0;
	}

	.title {
		font-size: 1.3em;
	}

	.subtitle {
		font-size: 1.1em;
	}

	/* Calendar */
	.gauche {
		.tog {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.calendar-assets {
			width: 90%;
			padding: 10px;
		}

		#currentDate {
			text-align: center;
			font-size: 20px;
			font-family: "Poppins";
		}

		.field {
			display: flex;
			width: auto;
			flex-direction: column;
			align-items: left;
			justify-content: center;
			margin: 20px 0;
		}

		.field label {
			margin-bottom: 12px;
			margin-top: 10px;
			font-family: "Poppins";
			text-align: center;
		}

		.form-input {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: center;
		}

		.day-assets {
			display: flex;
			justify-content: space-between;
			width: 324px;
		}

		.day-assets .btn:nth-child(2) i {
			padding: 0 10px 0 0 !important;
		}

		.calendar {
			height: 360px;
			border-radius: 18px;
			background: #ffffff;
			padding: 27px;
			user-select: none;
		}

		.hea {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-radius: 18px 18px 0 0;
			padding: 15px;
			color: #262626;
		}

		.month {
			font-size: 0.8em;
			font-family: "Poppins";
		}

		.buttons {
			display: flex;
		}

		.icon {
			font-size: 1em;
			background: #ffffff;
			color: #649A8D;
			border: none;
			cursor: pointer;
			outline: 0;
		}

		.icon:hover {
			cursor: pointer;
		}

		#calendar {
			width: 100%;
		}

		.weekends th {
			font-size: 1em;
			font-family: "Poppins";
			color: gray;
			font-weight: 400;
			width: 40px;
			margin: 10px 0;
		}

		#calendar tr {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			margin: 3px;
			margin-right: 40px;
			font-size: 1.2em;
		}

		#calendar td {
			display: flex;
			height: 40px;
			width: 40px;
			justify-content: center;
			align-items: center;
			text-align: center;
			z-index: 99;
			font-size: 1em;
			margin-bottom: 0.5em;
		}
	}

	.droite {
		.total {
			display: flex;
			background-color: #dde1e8;
			padding-bottom: 5%;

			&:not(:last-of-type) {
				margin-bottom: 30px;
			}
		}

		.identite {
			display: flex;
			margin-left: 20px;
			margin-top: 15px;
			width: 400px;
			align-items: center;
			border-right: 2px solid;

			img {
				width: 100px;
				height: 150px;
			}

			.infos {
				margin-left: 1rem;

				h2 {
					font-size: 1.3em;
					font-family: "Poppins";
				}

				h3 {
					font-size: 1.2em;
					font-family: "Poppins";
					color: #5b5b5b;
					margin-bottom: 10px;
				}

				p {
					font-size: 1em;
					font-family: sans-serif;
					color: #5b5b5b;
				}
			}
		}

		.horaire {
			gap: 15px;
			width: 6rem;
			display: flex;
			flex-direction: column;
			margin-right: 3%;
			margin-top: 3%;
			margin-left: 3%;
			justify-content: center;

			.heure {
				background-color: #60b1cc;
				font-size: 1em;
				color: #fcfcfc;
				font-weight: bold;
				border: none;
				border-radius: 10px;
				padding: 10px;
				cursor: pointer;

				&:hover {
					background-color: #5399b0;
				}
			}
		}
	}
}

#messagerie {
	position: fixed;
	width: 37px;
	height: 37px;
	top: 70vh;
	right: 50px;
	z-index: 2;
	background-color: transparent;
	border: none;
	cursor: pointer;

	.badge {
		display: none;
		font-size: 10px;
		position: absolute;
		top: -18px;
		right: -10px;
		padding: 5px 5px;
		border-radius: 50%;
		background: red;
		color: white;
	}

	i {
		color: #f2f2f2;
		background-color: rgb(41, 178, 188);
		border-radius: 33px 33px 33px 33px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 18px;
		padding-right: 18px;
		font-size: 2.5em;
		box-shadow: 0 0 15px rgb(0 0 0 / 60%);

		&:hover {
			font-size: 2.6em;
			padding-top: 16px;
			padding-bottom: 16px;
			padding-left: 19px;
			padding-right: 19px;
		}
	}
}

/* BOUTON POUR REMONTER EN HAUT DE LA PAGE */
#remonter {
	display: none;
	position: fixed;
	width: 37px;
	height: 37px;
	background-color: $color3;
	border-radius: 25px;
	bottom: 10px;
	right: 12px;
	text-align: center;
	line-height: 42px;
	z-index: 2;

	i {
		color: white;
		font-size: 20px;
	}

	.remonter:hover {
		background-color: $color2;
	}
}

button.btn {
	background-color: transparent;
	border: transparent;
	font-size: 1.7em;
	cursor: pointer;
}

.premiere {
	position: relative;
	min-width: 80vw;
	max-width: 35vw;
	margin: 20vh auto 0 auto;

	h1 {
		font-family: $font;
		font-weight: bold;
		margin-bottom: 40px;
		font-size: 3em;
	}

	p {
		font-size: 1.6em;
		font-family: $font2;
		max-width: 150vh;
		min-width: 250px;
		text-align: justify;
	}
}

// boutons reseaux sociaux
.troisieme {
	position: fixed;
	top: 40vh;
	z-index: 2;

	.btn {
		display: block;
		font-size: 2.3em;
		margin-bottom: 30px;
		margin-left: 30px;
		transition: 0.3s;
		color: #000000;
	}

	.btn:hover {
		color: #888787d0;
	}
}

/* media queries  */
@media (max-width:1000px) {
	.premiere {
		h1 {
			font-size: 3em;
		}

		p {
			font-size: 1.5em;
			min-width: 30vh;
		}
	}

	.deuxieme {
		flex-direction: column;
	}
}

@media (max-width:610px) {
	body {
		>img {
			margin: 5vh auto 0 auto;
			width: 400px;
			display: block;
		}
	}

	.premiere {
		h1 {
			font-size: 2.5em;
		}

		p {
			display: none;
		}
	}

	.deuxieme {
		flex-direction: column;
	}

	#messagerie {
		position: fixed;
		width: 37px;
		height: 37px;
		top: 90vh;
		left: 20px;
		z-index: 2;
		background-color: transparent;
		border: none;
		cursor: pointer;

		i {
			color: #f2f2f2;
			background-color: rgb(41, 178, 188);
			border-radius: 33px 33px 33px 33px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 13px;
			padding-right: 13px;
			font-size: 2.3em;
			box-shadow: 0 0 15px rgb(0 0 0 / 60%);

			&:hover {
				font-size: 2.5em;
				padding-top: 11px;
				padding-bottom: 11px;
				padding-left: 14px;
				padding-right: 14px;
			}
		}
	}

	.troisieme {
		display: none;
	}
}