
<html lang="fr">
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" type="text/css" href="scss/index/index.css" />
		<link rel="stylesheet" href="scss/reset.css">

		<script src="https://kit.fontawesome.com/b2ac465a5f.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>

		<script src="js/script.js" defer></script>
		<script src="js/index.js" defer></script>

		<title>Polaire Studio</title>
	</head>
	<body>
		<header class="header">
			{{ header|raw }}
		</header>

		<section id="co">
			{{ connexion|raw }}
		</section>

		<section class="premiere">
			<h2>{{ titre }}</h2>

			<h3>{{ soustitre }}</h3>

			<img src="images/accueil/photo_accueil.png" alt="" />

			<img src="images/accueil/photo_accueil2.png" alt="" />

			<img src="images/accueil/photo_accueil4.png" alt="" />
		</section>

		<div class="parallax">
			<img src="images/accueil/test.png" alt="" />
			<img src="images/accueil/test2.png" alt="" />
			<img src="images/accueil/test3.png" alt="" />
			<img src="images/accueil/test.png" alt="" />
			<img src="images/accueil/test2.png" alt="" />
			<img src="images/accueil/test3.png" alt="" />
			<img src="images/accueil/test.png" alt="" />
			<img src="images/accueil/test2.png" alt="" />
			<img src="images/accueil/test3.png" alt="" />

			<img src="images/accueil/test.png" alt="" />
			<img src="images/accueil/test2.png" alt="" />
			<img src="images/accueil/test3.png" alt="" />
			<img src="images/accueil/test.png" alt="" />
			<img src="images/accueil/test2.png" alt="" />
			<img src="images/accueil/test3.png" alt="" />
			<img src="images/accueil/test.png" alt="" />
			<img src="images/accueil/test2.png" alt="" />
			<img src="images/accueil/test3.png" alt="" />
		</div>
	</body>
</html>