@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
.header {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  width: 91%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  /* BURGER */
  /* langues */
}
.header .logo img {
  height: 2rem;
  margin-left: -70px;
}
.header .navbar__link {
  display: flex;
  margin-left: 80px;
}
.header .navbar a {
  position: relative;
  margin: 0.9rem;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.header .navbar a:before {
  content: "";
  width: 0;
  transition: width 0.45s linear;
}
.header .navbar a:hover:before {
  color: var(--main-color);
  content: "";
  width: 100%;
  background-color: #7EC89C;
  height: 9px;
  bottom: 15%;
  left: 0;
  position: absolute;
  z-index: -1;
  text-align: center;
  margin-left: 1px;
}
.header .icons div {
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}
.header .icons div:hover {
  color: var(--main-color);
}
.header #menu-btn {
  display: none;
}
.header .icons {
  display: flex;
  align-items: center;
}
.header .icons > i {
  font-size: 2rem;
}
.header #lg {
  font-family: "Yantramanav";
  font-size: 1.3em;
  cursor: pointer;
}
.header #lg .deux {
  display: flex;
  justify-content: center;
}
.header #lg .deux li {
  position: absolute;
  list-style: none;
  display: none;
}
.header #lg .deux li a {
  text-decoration: none;
  color: black;
  font-family: "Yantramanav";
  font-size: 1em;
  position: relative;
}
.header #lg .deux li a::after {
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  position: absolute;
  content: "";
}
.header #lg .deux .anglais {
  margin-top: 25px;
}
.header #lg:hover li {
  display: block;
}
.header .logo2 {
  display: none;
}
.header .btn {
  background-color: transparent;
  padding: 1px 6px;
  color: black;
  display: block;
  border: transparent;
  font-size: 1.7em;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .header .navbar a {
    font-size: 1.2rem;
  }
  .header .navbar a:hover {
    color: var(--main-color);
    border-bottom: none;
  }
  .header .header {
    padding: 1.5rem 2rem;
  }
  .header .logo > img {
    display: none;
  }
  .header .logo2 {
    display: block;
    height: 3rem;
    text-align: center;
  }
  .header .navbar__link {
    display: flex;
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 670px) {
  .header #menu-btn {
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .header .navbar {
    display: none;
    position: absolute;
    top: 100%;
    right: -100%;
    background: rgb(255, 255, 255);
    height: calc(100vh - 4rem);
  }
  .header .navbar.active {
    display: block;
    left: -78px;
  }
  .header .navbar__link {
    display: block;
    text-align: left;
  }
  .header .navbar a {
    color: var(--black);
    display: inline-block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

#co {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  justify-content: center;
  align-items: center;
}
#co .formContainer {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
}
#co .form-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex: auto;
}
#co .form-wrapper .card {
  width: 360px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.596);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
#co .card.show {
  visibility: visible;
  opacity: 1;
}
#co #hideform {
  position: relative;
  float: right;
  margin-top: -15px;
}
#co .fa-xmark {
  color: #ffffff;
  font-size: 1.3em;
}
#co button.btn {
  background-color: transparent;
  border: transparent;
  font-size: 1.7em;
  cursor: pointer;
}
#co .fa-eye-slash, #co .fa-eye {
  color: white;
  margin-left: -2em;
}
#co small {
  color: #ff5946;
  visibility: hidden;
}
#co .error small {
  margin-left: 10px;
  visibility: visible;
  font-size: 1em;
  font-weight: bold;
  font-family: "Yantramanav";
}
#co i[class*=fa-check-circle], #co i[class*=fa-exclamation-circle] {
  visibility: hidden;
}
#co i[class*=fa-eye] {
  cursor: pointer;
}
#co .success i[class*=fa-check-circle] {
  color: #2ecc71;
  visibility: visible;
}
#co .error i[class*=fa-exclamation-circle] {
  color: #ff5946;
  visibility: visible;
}
#co .card-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 20px 0;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: #f5f5f5;
  font-family: "Yantramanav";
  font-weight: bold;
  box-shadow: 2px 2px 7px rgba(211, 247, 255, 0.4431372549);
  border-radius: 50px;
}
#co .card-header .form-header {
  flex: 50%;
  text-align: center;
  padding: 10px 0;
  border: 1px solid transparent;
  border-radius: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
#co .card-header .form-header.active {
  box-shadow: inset 1px 1px 5px #649A8D, inset -1px 1px 5px #649A8D, inset -1px -1px 5px #649A8D, inset 1px -1px 5px #649A8D;
  border-color: rgb(86, 218, 189);
  transition: border-color 0.3s, box-shadow 0.3s;
}
#co .card-header .form-header:hover {
  background-color: rgba(75, 73, 73, 0.3215686275);
}
#co .card-body {
  display: flex;
  flex-wrap: nowrap;
  padding: 40px 0;
  text-align: left;
}
#co form {
  flex: 0 0 100%;
}
#co .form-control:nth-of-type(2) {
  margin-top: 15px;
}
#co .form-control:nth-of-type(3) {
  margin-top: 25px;
}
#co .toggleform {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
#co .champs {
  line-height: 1.2;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  background: none;
  outline: none;
  padding: 10px 5px;
  margin-bottom: 20px;
  color: #ffffff;
  transition: 0.3s;
}
#co .champs:hover {
  background: rgba(138, 138, 138, 0.356);
}
#co .link {
  display: block;
  color: white;
  font-family: "Yantramanav";
  font-size: 1.2em;
  margin-top: 20px;
  transition: 0.3s;
}
#co .link:hover {
  text-decoration: underline;
  color: rgba(221, 219, 219, 0.774);
}
#co .champs::-moz-placeholder {
  color: rgba(255, 255, 255, 0.589);
  font-size: 1.3em;
}
#co .champs:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.589);
  font-size: 1.3em;
}
#co .champs::placeholder {
  color: rgba(255, 255, 255, 0.589);
  font-size: 1.3em;
}
#co .formButton {
  border: 1px solid transparent;
  padding: 1rem 2rem;
  background-color: #7EC89C;
  color: white;
  font-size: 1.2em;
  border-radius: 30px;
  margin-top: 2.5rem;
  transition: 0.3s;
  margin-left: 100px;
}
#co .formButton:hover {
  background-color: #649A8D;
  transform: translateY(-5px);
  cursor: pointer;
}
#co #conditions1 {
  font-family: "Poppins";
  color: white;
}
#co #conditions1 a {
  color: #bdbdbd;
}
#co #conditions1 a:hover {
  color: #e0e0e0;
}

.sixieme {
  right: 100px;
  top: calc(70vh - 400px + 15px);
  position: fixed;
  z-index: 1;
  display: none;
}
.sixieme article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 400px;
  height: 450px;
  border-radius: 12px;
  background-color: rgb(233, 233, 233);
  float: right;
  margin-right: 20px;
}
.sixieme article > div:nth-child(1) {
  border-bottom: 1px solid rgb(186, 186, 186);
}
.sixieme article > div:nth-child(1) .fleche {
  background-color: transparent;
  border: none;
  position: relative;
  top: 28px;
  left: 20px;
}
.sixieme article > div:nth-child(1) .fleche .fa-arrow-left {
  font-size: 1.8em;
  cursor: pointer;
}
.sixieme article > div:nth-child(1) h3 {
  font-size: 1.8em;
  font-family: "Yantramanav";
  text-align: center;
  margin-bottom: 15px;
}
.sixieme article > div:nth-child(2) {
  overflow-y: auto;
}
.sixieme article > div:nth-child(2) .desti1 {
  float: left;
  margin-bottom: 50px;
  margin-left: 20px;
}
.sixieme article > div:nth-child(2) .desti1 h4 {
  font-size: 1.2em;
  font-family: "Yantramanav";
  margin-bottom: 5px;
}
.sixieme article > div:nth-child(2) .desti1 p {
  min-width: 200px;
  max-width: 200px;
  min-height: 30px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: white;
  font-family: "Yantramanav";
  font-size: 1.1em;
  padding: 5px;
}
.sixieme article > div:nth-child(2) .desti2 {
  position: relative;
  float: right;
  margin-right: 20px;
}
.sixieme article > div:nth-child(2) .desti2 h4 {
  font-size: 1.2em;
  font-family: "Yantramanav";
  margin-bottom: 5px;
  text-align: right;
}
.sixieme article > div:nth-child(2) .desti2 p {
  min-width: 200px;
  max-width: 200px;
  min-height: 30px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #475569;
  color: white;
  font-family: "Yantramanav";
  font-size: 1.1em;
  padding: 5px;
}
.sixieme article .envoie {
  display: flex;
  margin-top: auto;
  width: 100%;
}
.sixieme article .envoie textarea {
  resize: none;
  width: 100%;
  min-height: 30px;
  border-bottom-left-radius: 6px;
  font-family: "Yantramanav";
  font-size: 1.2em;
}
.sixieme article .envoie button {
  display: inline;
  width: 50px;
  background-color: #475569;
  color: white;
  font-size: 1.3em;
  border: none;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .sixieme {
    position: absolute;
    top: 640px;
  }
}

footer {
  top: 85px;
  gap: 40px;
  width: 100%;
  display: flex !important;
  position: relative;
  flex-wrap: wrap;
  background-color: #475569;
  justify-content: space-around;
}
footer iframe {
  width: 400px;
  height: 300px;
}
footer div {
  position: absolute;
  left: 0;
  bottom: 20px;
}
footer div .bo {
  margin-left: 10px;
  color: white;
  font-size: 0.8em;
  font-family: "Yantramanav";
}
footer section:nth-of-type(1) {
  margin-top: 50px;
  margin-left: 50px;
  float: left;
}
footer section:nth-of-type(1) img {
  height: 2.5rem;
  margin-bottom: 30px;
}
footer section:nth-of-type(1) .contactezmoi {
  font-size: 1.8em;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Yantramanav";
  border: 3px solid #7EC89C;
  padding: 10px;
  transition: 0.3s;
  text-decoration: none;
}
footer section:nth-of-type(1) .contactezmoi:hover {
  border: 3px solid #649A8D;
  color: #e0e0e0;
}
footer section:nth-of-type(1) > a:last-of-type {
  display: none;
}
footer section:nth-of-type(1) .link {
  margin-left: 0;
  font-size: 1.5em;
  color: #ffffff;
  transition: 0.3s;
  text-decoration: none;
}
footer section:nth-of-type(1) .link:hover {
  color: #cacaca;
  border-bottom: #ffffff 1px solid;
}
footer section:nth-of-type(2) {
  margin-top: 60px;
  float: left;
}
footer section:nth-of-type(2) ul li {
  list-style: none;
  margin-bottom: 10px;
}
footer section:nth-of-type(2) ul li a {
  color: #ffffff;
  font-size: 1.8em;
  font-family: "Yantramanav";
  letter-spacing: 2px;
  transition: 0.3s;
  text-decoration: none;
}
footer section:nth-of-type(2) ul li a:hover {
  color: #bdbdbd;
  border-bottom: 0.1rem solid var(--main-color);
}
footer article {
  display: none;
}
footer section:nth-of-type(3) {
  float: right;
  margin-top: 50px;
  margin-right: 70px;
}
footer section:nth-of-type(3) .localisation {
  font-size: 1.8em;
  font-family: "Yantramanav";
  font-weight: bold;
  color: #ffffff;
}
footer section:nth-of-type(3) iframe {
  margin-bottom: 50px;
  margin-top: 10px;
}
footer section:nth-of-type(3) .adresse {
  font-size: 1.3em;
  font-family: "Yantramanav";
  color: #ffffff;
}
@media (max-width: 1000px) {
  footer {
    height: 340px;
    display: block !important;
  }
  footer section:nth-of-type(1) {
    float: none;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  footer section:nth-of-type(1) img {
    margin-top: 40px;
  }
  footer section:nth-of-type(1) .contactezmoi {
    display: none;
  }
  footer section:nth-of-type(1) article {
    display: inline-block;
    font-size: 2em;
  }
  footer section:nth-of-type(1) article .btn {
    display: inline-block;
    margin-left: 40px;
    color: #ffffff;
    transition: 0.3s;
  }
  footer section:nth-of-type(1) article .btn:first-of-type {
    margin-left: 0;
  }
  footer section:nth-of-type(1) article .btn:hover {
    color: #dddddd;
  }
  footer section:nth-of-type(1) > a:last-of-type {
    font-size: 1.3em;
    font-family: "Yantramanav";
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
  }
  footer section:nth-of-type(1) > a:last-of-type:hover {
    color: #dddddd;
    border-bottom: #ffffff 1px solid;
  }
  footer section:nth-of-type(2) {
    display: none;
  }
  footer section:nth-of-type(3) iframe, footer section:nth-of-type(3) p {
    display: none;
  }
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  font-size: 1.2em;
  font-family: "Yantramanav";
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}
.show.snackbar {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

:root {
  --main-color:#000000;
  --black:#000000;
  --bg:#ffffff;
  --border:.1rem solid rgba(255,255,255,.3);
}

#messagerie {
  position: fixed;
  width: 37px;
  height: 37px;
  top: 70vh;
  right: 50px;
  z-index: 2;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#messagerie i {
  color: #f2f2f2;
  background-color: rgb(41, 178, 188);
  border-radius: 33px 33px 33px 33px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 2.5em;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}
#messagerie i:hover {
  font-size: 2.6em;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 19px;
  padding-right: 19px;
}

/* BOUTON POUR REMONTER EN HAUT DE LA PAGE */
#remonter {
  display: none;
  position: fixed;
  width: 37px;
  height: 37px;
  background-color: #7EC89C;
  border-radius: 25px;
  bottom: 10px;
  right: 12px;
  text-align: center;
  line-height: 42px;
  z-index: 2;
}
#remonter i {
  color: white;
  font-size: 20px;
}
#remonter .remonter:hover {
  background-color: #649A8D;
}

.premiere {
  position: relative;
  min-width: 80vw;
  max-width: 35vw;
  margin: 20vh auto 0 auto;
  margin-bottom: 60px;
}
.premiere h1 {
  font-family: "Barlow";
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 4em;
}
.premiere .team {
  font-size: 2.2em;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #649A8D;
  font-family: "Nothing You Could Do";
  color: #7EC89C;
}
.premiere article {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  border-radius: 25px;
  display: inline-block;
  margin: 10vh 0 0 10vh;
}
.premiere article img {
  height: 240px;
  margin-bottom: 10px;
}
.premiere article h2 {
  font-size: 1.5em;
  letter-spacing: 2px;
}
.premiere article h3 {
  font-size: 1.2em;
  font-family: sans-serif;
  margin-bottom: 35px;
}
.premiere article .button {
  border-radius: 4px;
  border: none;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  color: black;
  font-family: "Yantramanav";
}
.premiere article .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.premiere article .button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.premiere article .button:hover span {
  padding-right: 25px;
}
.premiere article .button:hover span:after {
  opacity: 1;
  right: 0;
}
.premiere article .media {
  display: inline-block;
  margin-top: 35px;
  margin-left: 10px;
  font-size: 2em;
  color: #000000;
  position: relative;
  left: -100px;
  transition: 0.2s;
}
.premiere article .media:hover {
  color: rgba(35, 35, 35, 0.8901960784);
}

.troisieme {
  position: fixed;
  top: 40vh;
  z-index: 2;
}
.troisieme .btn {
  display: block;
  font-size: 2.3em;
  margin-bottom: 30px;
  margin-left: 30px;
  transition: 0.3s;
  color: #000000;
}
.troisieme .btn:hover {
  color: rgba(136, 135, 135, 0.8156862745);
}

/* media queries  */
@media (max-width: 1000px) {
  .premiere article {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    border-radius: 25px;
    display: inline-block;
    margin: 10vh 0 0 5vh;
  }
  .premiere article img {
    height: 220px;
    margin-bottom: 10px;
  }
  .premiere article h2 {
    font-size: 1.5em;
  }
  .premiere article h3 {
    font-size: 1.2em;
    margin-bottom: 35px;
  }
  .premiere article .media {
    display: inline-block;
    margin-top: 35px;
    margin-left: 10px;
    font-size: 1.7em;
    color: #000000;
    position: relative;
    left: -100px;
    transition: 0.2s;
  }
  .premiere article .media:hover {
    color: rgba(105, 105, 105, 0.8901960784);
  }

  .troisieme {
    display: none;
  }

  #messagerie {
    position: absolute;
    top: auto;
  }
}