@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import "../variable";
@import "../templates";

:root{
	--main-color:#000000;
	--black:#000000;
	--bg:#ffffff;
	--border:.1rem solid rgba(255,255,255,.3);
}


/* BOUTON POUR REVENIR EN HAUT DE LA PAGE */
html{
	overflow: hidden;
	scroll-behavior: smooth;
}

// body{
//     background: var(--bg);
// }

.header
{
	@extend %header;
}

#co
{
	@extend %formulaire;
}

.sixieme {
	@extend %messagerie;
}

.snackbar{
	@extend %snackbar;

}

// Pied de page général.
footer{
	@extend %footer;
}


#messagerie {
	position: fixed;
	width:37px;
	height: 37px;
	top: 70vh;
	right:50px;
	z-index: 2;
	background-color: transparent;
	border: none;
	cursor: pointer;

	.badge {
        display: none;
        font-size: 10px;
        position: absolute;
        top: -18px;
        right: -10px;
        padding: 5px 5px;
        border-radius: 50%;
        background: red;
        color: white;
      }
	  
	i{
	color: #f2f2f2;
	background-color: rgb(41, 178, 188);
	border-radius: 33px 33px 33px 33px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 18px;
	padding-right: 18px;
	font-size:2.5em;
	box-shadow:  0px 0px 15px rgb(0 0 0 / 60%);

	&:hover{
		font-size:2.6em;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 19px;
		padding-right: 19px;
	}
}


}


 /* BOUTON POUR REMONTER EN HAUT DE LA PAGE */
 #remonter {
	display: none;
	position: fixed;
	width:37px;
	height: 37px;
	background-color: $color3;
	border-radius: 25px;
	bottom: 10px;
	right:12px;
	text-align: center;
	line-height: 42px;
	z-index: 2;


	i{
	color:white;
	font-size:20px;
	}

	.remonter:hover{
		background-color: $color2;
	}
}

.premiere{
	position: relative;
	min-width: 970px;
	max-width: 50vw;
	margin: 20vh auto 0 auto;


	h2{
		font-size: 3em;
		letter-spacing: 2px;
		font-family: $font;
		color: $color3;
		font-weight: 600;

	}

	h3{
		font-size:3.2em;
		letter-spacing: 2px;
		width: 380px;
		font-family: $font2;
		font-weight: 500;
		width:600px;
		margin-left: 50px ;

	}

	img:nth-of-type(1){
        height: 340px;
		margin-bottom: 0px;
    }

    img:nth-of-type(2){
        height: 340px;
        margin-left: 70px;
		margin-bottom: 35px;
    }

    img:nth-of-type(3){
        height: 340px;
        margin-left: 70px;
		margin-bottom: 70px;

    }
}

// Début des bulles
$bubble-count: 50;
$sway-type: "sway-left-to-right", "sway-right-to-left";

@function random_range($min, $max) {
	$rand: random();
	$random_range: $min + floor($rand * (($max - $min) + 1));
	@return $random_range;
}

@function sample($list) {
	@return nth($list, random(length($list)));
}

.parallax {
	width: 100%;
	overflow: hidden;

	img
	{
		z-index: -1;
		opacity: 0.30;
		position: absolute;
		left: var(--bubble-left-offset);
		bottom: -75%;
		display: block;
		width: var(--bubble-radius);
		height: var(--bubble-radius);
		background-color: none;
		animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;

		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: inherit;
			animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
		}

		@for $i from 0 through $bubble-count
		{
			&:nth-child(#{$i})
			{
				--bubble-left-offset: #{random_range(0vw, 90vw)};
				--bubble-radius: #{random_range(5vw, 8vw)};
				--bubble-float-duration: #{random_range(6s, 12s)};
				--bubble-sway-duration: #{random_range(4s, 6s)};
				--bubble-float-delay: #{random_range(0s, 4s)};
				--bubble-sway-delay: #{random_range(0s, 4s)};
				--bubble-sway-type: #{sample($sway-type)};
			}
		}
	}
}

@keyframes float-up {
	to {
		transform: translateY(-175vh);
	}
}

@keyframes sway-left-to-right {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(100%);
	}
}

@keyframes sway-right-to-left {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(-100%);
	}
}
// Fin des bulles


/* media queries  tablet*/
@media (max-width:1000px)
{
	.premiere{
		min-width: 600px;


		h2 {
			font-size: 2.2em;
			letter-spacing: 2px;
			font-family: $font;
			font-weight: 600;
			width: 350px;
			margin-bottom: 20px;
			margin-left: 200px ;
			color: $color3;
			position: absolute;
		}

		h3{
			font-size:2.4em;
			letter-spacing: 2px;
			width: 380px;
			font-family: $font2;
			font-weight: 500;
			margin-left: 220px;
			margin-top: 50px;
			position: absolute;

		}
		img:nth-of-type(1){
			display: none;
		}
		img:nth-of-type(2){
			margin: -70px 0 0 -20px;
		}
		img:nth-of-type(3){
			display: none;

		}
	}

	.deuxieme {
		margin-top: 20vw;
		min-width: 300px;
		max-width: 80vw;

		.shop{
			height: 500px;
			position: relative;

			p{
				min-width: 0;
				margin-bottom: 40px;
			}

			img{
				height: auto;
			}
		 }

		.image{
			height: 500px;
			position: relative;

			p{
				min-width: 0;
				margin-bottom: 40px;
			}

			img{
				height: auto;
			}
		}

		h2 {
			width: 350px;
			margin-left: 0;
		}

		p:nth-of-type(2){
			margin-top: -5px;
			max-width: 500px;
			margin-left: 310px;

		}

		a
		{
			position: absolute;
			bottom: auto;
			left: 350px; // Longueur de l'image.
		}

	}

	.troisieme
	{
		display: none;
	}

}


/* media queries  mobile*/
@media (max-width:670px)
{
	.premiere{
		min-width: auto;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: flex-start;



		h2 {
			font-size: 1.6em;
			letter-spacing: 2px;
			font-family: $font;
			font-weight: 600;
			width: 300px;
			margin-bottom: 20px;
			margin-left: 0;
			color: $color3;

		}

		h3{
			font-size:1.8em;
			letter-spacing: 2px;
			width: 280px;
			font-family: $font2;
			font-weight: 500;
			margin-left: 0;
			margin-top: 50px;

		}

		img:nth-of-type(1){
			display: none;
		}

		img:nth-of-type(2)
		{
			height: 290px;
			margin-top: 70px;

		}

		img:nth-of-type(3){
			display: none;

		}
	}

}