@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import "../variable";
@import "../templates";

:root{
    --main-color:#000000;
    --black:#000000;
    --bg:#ffffff;
    --border:.1rem solid rgba(255,255,255,.3);
}


/* BOUTON POUR REVENIR EN HAUT DE LA PAGE */
html{
    scroll-behavior: smooth;
}

// body{
//     background: var(--bg);
// }



.header
{
    @extend %header;
}

// Pied de page général.
footer{
    @extend %footer;
}

#co
{
    @extend %formulaire;
}

.sixieme {
    @extend %messagerie;
}

.snackbar{
    @extend %snackbar;

}

#messagerie {
    position: fixed;
    width:37px;
    height: 37px;
    top: 70vh;
    right:50px;
    z-index: 2;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .badge {
        display: none;
        font-size: 10px;
        position: absolute;
        top: -18px;
        right: -10px;
        padding: 5px 5px;
        border-radius: 50%;
        background: red;
        color: white;
      }
      
    i{
    color: #f2f2f2;
    background-color: rgb(41, 178, 188);
    border-radius: 33px 33px 33px 33px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 18px;
    font-size:2.5em;
    box-shadow:  0px 0px 15px rgb(0 0 0 / 60%);

    &:hover{
        font-size:2.6em;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 19px;
        padding-right: 19px;
    }
}


}


 /* BOUTON POUR REMONTER EN HAUT DE LA PAGE */
 #remonter {
    display: none;
    position: fixed;
    width:37px;
    height: 37px;
    background-color: $color3;
    border-radius: 25px;
    bottom: 10px;
    right:12px;
    text-align: center;
    line-height: 42px;
    z-index: 2;


    i{
    color:white;
    font-size:20px;
    }

    .remonter:hover{
        background-color: $color2;
    }
}


.premiere {
    position: relative;
    min-width: 80vw;
    max-width: 35vw;
    margin: 20vh auto 0 auto;

    h1{
        font-family:$font;
        font-weight:bold;
        margin-bottom: 40px;
        font-size:3em;
    }

article {
    display: flex;
    // justify-content: center;

    p{
        font-size: 1.6em;
        font-family: "Yantramanav";
        max-width: 48%;
        min-width: 390px;
        text-align: justify;

    }
    div {
        .adresse, a{
            margin-left: 23%;
            width: 500px;
            font-size:1.8em;
        }

        a{
            color:$color3;
            font-weight: 600;
            letter-spacing: 2px;
            transition: 0.3s;
        }
        a:hover{
            color:$color2;
        }

    }

    }
}

.formulaire {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin: 100px auto 100px auto;
    justify-content: center;


    img{

        height: 480px;
        margin-right: 90px;
    }
    form{

    .contaact {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(14, 13, 13);
        padding-right: 10px;
        margin-bottom: 55px;
        padding-top: 10px;
        background: none;
    }

    input:hover{
        background: rgba(138, 138, 138, 0.356);

    }

    textarea{
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(14, 13, 13);
        padding-right: 10px;
        margin-top: 50px;
        margin-bottom: 20px;
        max-width: 280px;
        min-width: 30vw;
        max-height: 40px;
        max-height: 25px;
        background: none;
        outline: none;   display: block;
    }
    ::placeholder{
        color:rgba(41, 41, 41, 0.678);
        font-size: 1.6em;
        font-family: $font2;
      }
      button{
          font-size: 1.1em;
          background-color: $color3;
          color: #ffffff;
          border: transparent;
          cursor: pointer;
          padding: 9px;
          padding-left: 17px;
          padding-right: 17px;
          transition: 0.3s;
      }
      button:hover{
          background-color: $color2;
      }
    }
}


// boutons reseaux sociaux
.troisieme {
    position: fixed;
    top: 40vh;
    z-index: 2;
    .btn{

        display: block;
        font-size: 2.3em ;
        margin-bottom: 30px;
        margin-left: 30px;
        transition: 0.3s;
        color: #000000;
    }
    .btn:hover{
        color: #888787d0;
    }
}



/* media queries  */
@media (max-width:1000px){
    .premiere {
        h1{
            font-size: 2.5em;
        }
        article {
            display: block;
            p{
                min-width: auto;
                max-width: 100%;
                width:90vw;
                margin-bottom: 40px;
                font-size: 1.3em;
            }
            div {
                .adresse, a{
                    margin-left: 0;
                    width: 500px;
                    margin-bottom: 0px;
                    font-size: 1.3em;
                }

            }
        }

    }

    .formulaire {
        .contaact {
            border: none;
            border-bottom: 1px solid rgb(14, 13, 13);
            margin-bottom: 55px;
            padding-top: 10px;
            background: none;
        }

        img{

            height: 400px;
            margin-right: 30px;
        }
    }

    .troisieme{
        .btn{
            display: none;
        }
    }

}



@media (max-width:610px){

    #messagerie {
        position: fixed;
        width:37px;
        height: 37px;
        top: 90vh;
        left:20px;
        z-index: 2;
        background-color: transparent;
        border: none;
        cursor: pointer;
    
        i{
        color: #f2f2f2;
        background-color: rgb(41, 178, 188);
        border-radius: 33px 33px 33px 33px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 13px;
        padding-right: 13px;
        font-size:2.3em;
        box-shadow:  0px 0px 15px rgb(0 0 0 / 60%);
    
        &:hover{
            font-size:2.5em;
            padding-top: 11px;
            padding-bottom: 11px;
            padding-left: 14px;
            padding-right: 14px;
        }
    }
    
    }

    .premiere {
        position: relative;
        min-width: 80vw;
        max-width: 35vw;
        margin: 20vh auto 0 auto;
     
        h1{
            font-size: 2.2em;
        }

        .a{
            display: none;
        }
    }


    .formulaire {

        img{
            display: none;

        }

        form{
            .contaact {
                box-sizing: border-box;
                margin-right: 100px;
            }

            textarea{
                border: none;
                border-bottom: 1px solid rgb(14, 13, 13);
            }
        }
    }
}