@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

body
{
	/* background-color: #bcd5ff; */
	background-image: url("../../images/bo/nuages.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;



}



/* CONNEXION */
/* FORMULAIRE DE CONNEXION */
#connexion{
	display: flex;
    justify-content: center;
	margin-top: 30vh;

		}

#connexion form{
	background-color: rgba(228, 228, 228, 0.62);
	padding-top: 41px;
    padding-bottom: 52px;
    padding-right: 15px;
    padding-left: 15px;
	border-radius: 0 100px 0 100px;
	box-shadow: 5px 12px 23px 2px rgb(51 51 51 / 76%);
      			}

#connexion label{
		font-size:1.8em;
		letter-spacing: 1px;
		margin-left: 68px;
		font-family:'Nothing You Could Do';
	}




#connexion input[type="text"],#connexion input[type="password"]{
				display: block;
				background:rgba(255, 255, 255, 0.508);
				border:none;
				border-left:1px solid rgba(255,255,255,0.3);
				border-top:1px solid rgba(255,255,255,0.3);
				height: 55px;
				width: 300px;
				border-radius:50px;
				box-shadow:5px 12px 9px 1px rgba(51, 51, 51, 0.337);
				margin-top: 20px;
				margin-bottom: 30px;
				margin-right: 15px;

      }

	  ::placeholder{
        color:rgb(0, 0, 0);
        font-size: 1.3em;
		font-family:'Poppins';
      }



#connexion input[type="submit"]{
								cursor: pointer;
								display: block;
								background:rgba(255, 255, 255, 0.508);
								border:none;
								border-left:1px solid rgba(255,255,255,0.3);
								border-top:1px solid rgba(255,255,255,0.3);
								height: 45px;
								width: 220px;
								border-radius:50px;
								box-shadow:5px 12px 9px 1px rgba(51, 51, 51, 0.282);
								margin-left: 40px;
								color: rgb(239, 128, 0);
								font-weight: 600;
								font-size:1.5em;
								font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
								}

#connexion input[type="submit"]:hover {
								background:rgb(228, 228, 228);
}


/* BACK OFFICE */
/* ECRITURE BACK OFFICE DANS LA BO */

#bo> h2 ~ form{
			position: absolute;
			top: 30%;
			left: 9%;
}

#bo> h2{
		 font-size:3em;
		 font-family:  sans-serif;
		 font-weight: bolder;
		 letter-spacing: 2px;
		 color: rgb(255, 255, 255);
		 background: rgba(45, 79, 122, 0.198);
		 backdrop-filter: blur(12px);
		 border-bottom: 1px solid rgba(255, 255, 255, 0.596);
		 box-shadow: 12px 23px 58px 3px rgba(0, 0, 0, 0.53);
		 z-index: 2;
		 width: 100%;
		 padding-top:55px;
		 padding-bottom: 10px;

		}


/* TABLE DE LA BDD*/
#bo input {
			border: transparent;
			margin-right: 30px;
			margin-bottom: 15px;
			letter-spacing: 1px;
			font-size: 1.6em;
			font-weight: bold;
			width: 357px;
			border-radius: 10px;
			font-family:sans-serif;
			font-weight:normal;
			background:rgba(80, 189, 154, 0.717);
			border-left:1px solid rgba(255,255,255,0.3);
			border-top:1px solid rgba(255,255,255,0.3);
			cursor:pointer;
}

#bo input:hover{
	background:rgba(24, 144, 106, 0.717);

}


/* BOUTON DE DECONNEXION */
#deco .deconnexion {
					background-color: rgb(255, 177, 52);
					color: white;
					font-weight: bold;
					cursor: pointer;
					font-size:1.3em;
					width: 170px;
    				height: 65px;
					border: transparent;
					border-radius: 35px;
					position: absolute;
					top: 5vh;
					right: 0%;
					box-shadow: none;
					z-index: 2;
					}

#deco .deconnexion:hover{
							background-color:rgb(255, 161, 9) ;
						}

#deco .deconnexion:active{top: 5.5vh;}



/* CSS MODIFICATION */

h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
	font-size: 2em;
}


form ~ table { margin-top:3%;}

form ~ table > tbody > tr > th {
	font-size: 1.3em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


form ~ table > tbody > tr {
							font-size:1.3em;
							font-family: Arial, Helvetica, sans-serif;

}


form ~ table > tbody > tr:nth-child(odd)
{background-color: rgba(240, 210, 113, 0.753);}


 input.boutons {
	 color: #153f86;
	font-weight: bold;
	font-size:1em;
	border:none;
	border-radius:7px;
	padding:9px;
	margin-bottom:4px;
	cursor:pointer;

}

 input.boutons:hover{
	background-color: rgb(207, 207, 207);

}

table{
	  background-color: rgb(238, 225, 170);
	  border-collapse: collapse;
}

 table ~ a {
			font-size: 1.5em;
			color: black;
			position: relative;
			top:5vh;
}

table ~ a:hover{
	color: rgb(93, 93, 187);

}